In [1]:
import numpy as np
import pandas as pd

나눠진 데이터 셋을 합쳐서 불러옵니다.

In [2]:
df1 = '/content/drive/MyDrive/nlp pj/unsmile_fin (1).csv'
df2 = '/content/drive/MyDrive/nlp pj/immoral_cfin.csv'
df3 = '/content/drive/MyDrive/nlp pj/immoral_vfin.csv'

In [3]:
df = pd.concat(
   map(pd.read_csv, [df1, df2, df3]), ignore_index=True)
print(df)

                                                      문장  clean  violence
0                                 일안하는 시간은 쉬고싶어서 그런게 아닐까    1.0       0.0
1      아동성범죄와 페도버는 기록바 끊어져 영원히 고통 받는다. 무슬림 50퍼 근친이다. ...    0.0       1.0
2      루나 솔로앨범 나왔을 때부터 머모 기운 있었음 ㅇㅇ Keep o  doin 진짜 띵...    1.0       0.0
3      홍팍에도 어버이연합인가 보내요 뭐 이런뎃글 있는데 이거 어버이연합측에 신고하면 그쪽...    1.0       0.0
4      아놔 왜 여기 댓들은 다 여자들이 김치녀라고 먼저 불렸다! 여자들은 더 심하게 그런...    0.0       1.0
...                                                  ...    ...       ...
35000  결국 남은 건 막대한 손해에 아줌마 #@인간및인간집단.인물.인물_무정보.여성#, 한...    0.0       1.0
35001                         아름다운 추억 본인이 깽판쳐 놓고 감성팔이 마라    0.0       1.0
35002                              #@#이 바퀴벌레보다 더 대단한 건가?    0.0       1.0
35003          니 말하는꼬라지 보니까 딱 못배운 공익티 팍팍내내  정신공익이냐?ㅋㅋㅋㅋㅋ    0.0       1.0
35004                              돈도 많은 것들이 추접하게 무슨 짓이람    0.0       1.0

[35005 rows x 3 columns]

In [4]:
df

                                                      문장  clean  violence
0                                 일안하는 시간은 쉬고싶어서 그런게 아닐까    1.0       0.0
1      아동성범죄와 페도버는 기록바 끊어져 영원히 고통 받는다. 무슬림 50퍼 근친이다. ...    0.0       1.0
2      루나 솔로앨범 나왔을 때부터 머모 기운 있었음 ㅇㅇ Keep o  doin 진짜 띵...    1.0       0.0
3      홍팍에도 어버이연합인가 보내요 뭐 이런뎃글 있는데 이거 어버이연합측에 신고하면 그쪽...    1.0       0.0
4      아놔 왜 여기 댓들은 다 여자들이 김치녀라고 먼저 불렸다! 여자들은 더 심하게 그런...    0.0       1.0
...                                                  ...    ...       ...
35000  결국 남은 건 막대한 손해에 아줌마 #@인간및인간집단.인물.인물_무정보.여성#, 한...    0.0       1.0
35001                         아름다운 추억 본인이 깽판쳐 놓고 감성팔이 마라    0.0       1.0
35002                              #@#이 바퀴벌레보다 더 대단한 건가?    0.0       1.0
35003          니 말하는꼬라지 보니까 딱 못배운 공익티 팍팍내내  정신공익이냐?ㅋㅋㅋㅋㅋ    0.0       1.0
35004                              돈도 많은 것들이 추접하게 무슨 짓이람    0.0       1.0

[35005 rows x 3 columns]

8:2의 비율로 나눠서 train, valid셋을 구성해야 하는데 현재 있는 df는 순서대로 합쳐져 있기 때문에 이들을 섞어 줍니다.

나눠서 저장하는 방법을 잘 모르겠어서 그냥 df를 섞고 2:8로 나눠서 각각 저장했습니다. 혹시 다른 방법을 아시면 알려주세요.

In [5]:
np.random.seed(7)

In [6]:
df_shuffled=df.iloc[np.random.permutation(df.index)].reset_index(drop=True)

In [7]:
df_shuffled

                                                      문장  clean  violence
0                              엉덩이 튼 살 좀 봐라 어느 남자가 좋아하겠어    0.0       1.0
1      #@#이 잘했다는 건 아닌데 저 분이 트위터에 작성한 거 보면 얘 불쌍하단 여론이 ...    1.0       0.0
2                              맞아 그러니까 넌 진짜 상식 공부라도 좀 해라    0.0       1.0
3                                             나? #@#이지ㅋㅋ    1.0       0.0
4      페미 병신 논리 때문에 지켜볼 수 밖에 없는거구나 ㅋㅋㅋㅋㅋㅋ와 진짜 페미니즘은 저...    0.0       1.0
...                                                  ...    ...       ...
35000  ㄴㄴ 오우....예지력 상승이래... 완전 아줌마 냄새... 그거 한 10년전에 쓰...    0.0       1.0
35001                 월급 200 받으면서 명품이나 사는 것들은 다 나사 빠진 거지    0.0       1.0
35002                           아무튼 돼지년들 ㅋㅋㅋ꼭 사고를 쳐요 븅신들    0.0       1.0
35003                       뒤통수 삽으로 후린다음에 저 흙파서 그대로 묻고싶다    0.0       1.0
35004                                         보지에 늘 새기겠노    0.0       1.0

[35005 rows x 3 columns]

In [8]:
df_valid = df_shuffled.iloc[0:7001]
df_train = df_shuffled.iloc[7001:]

In [9]:
df_valid.to_csv("violence_valid.csv", index=False, encoding="utf-8-sig")

In [10]:
df_train.to_csv("violence_train.csv", index=False, encoding="utf-8-sig")